.alert-information {
  color: var(--alert-information);
}
.alert-danger {
  color: var(--alert-danger);
}
.alert-closure {
  color: var(--alert-closure);
}
.alert-caution {
  color: var(--alert-caution);
}